.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a1242f; /*##652ab3;*/
  border-radius: 4px 4px 0 0;
  height: 5%;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.9;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.1;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
  width: 25px;
}

.back__to__dashboard {
  width: 30px;
}

@media (max-width: 1200px) {
  .infoBar {
    height: 35px;
  }
}
