.notification__wrapper {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 300px;
}

.notification__item {
  background-color: rgba(223, 223, 223, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification__item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

.notification__item p {
  margin: 0;
  padding: 10px;
}

.notification__item .bar {
  height: 10px;
}

.notification__item.success .bar {
  background-color: #1d6e1ebb;
}

.notification__item.badge .bar {
  background-color: rgba(194, 133, 21, 0.904);
}

.notification__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.6);
  padding-bottom: 0.5rem;
}

.notification__button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.87);
  transition: all 0.2s;
}
