.navDashboard {
    background-color: rgb(17, 17, 17, 0.8);
}

.nav-wrapper .input-field input[type=search] {
    border: 1px solid #263238;
    border-radius: 20px;
}

.input-field input[type=search] {
    display: initial !important;
    color: white;
    margin-left: 0px !important;
    padding-left: 2% !important;
}

.input-field input[type=search]:focus:not(.browser-default) {
    background-color: transparent !important;
    color: white;
}

.movieparty-logo {
    color: #F45F5F;
    font-family: 'Kaushan Script', cursive;
    font-size: 2vw;
}

.dropdown-nav {
    height: auto !important;
    width: auto !important;
    min-width: 20%;
    z-index: 1;
    background-color: rgb(17, 17, 17, 0.8);
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.account-info-dropdown {
    min-width: 10%;
}

.mobile-friends-list-dropdown {
    height: auto !important;
    width: 100% !important;
    min-width: 50%;
    z-index: 1;
    background-color: rgb(17, 17, 17, 0.8);
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.online-friend {
    padding-right: 2%;
    padding-left: 2%;
    color: green;
    border: double green;
    border-radius: 20%;
}

.offline-friend {
    padding-right: 2%;
    padding-left: 2%;
    color: red;
    border: double red;
    border-radius: 20%;
}

.all-width {
    width: 100% !important;
}

.red-background {
    background-color: #F45F5F;
}

.search-icons {
    border: hidden;
}

.modal {
    top: 30% !important;
}

.row .col.s3 {
    width: auto;
    padding-right: 0px ;
    margin-right: 0px;
}

span.badge.new {
    background-color: transparent;
    color: #F45F5F;
}

/*.dropdown-content li {
    background-color:  rgb(17, 17, 17, 0.8) !important;
}*/

.dropdown-notifications {
    padding-left: 0px;
}

nav ul a span.badge {
    display: inline;
}

.collapsible-header {
    padding: 0px;
    color: white;
    border-bottom: none;
}

.collapsible {
    border: none;
    margin: 0 0 0 0;
}

.dropdown-content li:hover, .dropdown-content li.active {
    background-color:unset;
}

.collapsible-body {
    border-bottom: none;
}
