.form {
  display: flex;
  border-top: 3px solid #a1242f;
  /*height: 10%;*/
}

.input {
  border: none;
  border-radius: none;
  width: 80%;
  font-size: 1.2em;
  margin-left: 2% !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  color:  #F45F5F;
  display: inline-block;
  /*border-radius: 5px;
  border: #111;*/
  width: 20%;
}

@media only screen and (max-width: 1200px) {
  .form {
    display: inline;
  }
  .input {
    width: 85% !important;
  }
  .sendButton {
    margin: 1%;
    width: 10%;
    padding: 1%;
  }
}
