.form {
  display: flex;
  border-top: 3px solid #a1ada5;
  height: 10%;
}

.input {
  border: none;
  border-radius: none;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #652ab3;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 20px;
  display: inline-block;
  border-radius: 5px;
  border: #111;
  width: 20%;
}

@media only screen and (max-width: 1200px) {
  .form {
    display: inline;
  }
  .input {
    width: 100%;
  }
  .sendButton {
    display: none;
    width: 0%;
  }
}
