.grey {
    background: #111 !important;
}

.white-text{
    color: white;
}

.red-text {
    color: #F45F5F;
}

.padding-top-login {
    padding-top: 4rem;
}

.padding-top-register {
    padding-top: 3rem;
}

.auth-button {
    width: 100%;
    border-radius: 3px;
    margin-top: 1rem;
}
